:root {
    --main-bg-color: #000000;
    --secondary-bg-color: #595959;
    --tertiary-bg-color: #c1beb8;

    --main-color: #ce4f20;
  }

/* Body */
body {
    background-color: var(--main-bg-color);
}


/* Estilo personalizado para el menú desplegable */
.navbar .dropdown-menu-right {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    transform: translateX(0);
}

.navbar .nav-item.dropdown:hover .dropdown-menu-right {
    display: block;

}
.navbar-dark .navbar-toggler-icon {
    width: 78px;
    height: 78px;
}

.navbar--logo {
    width: 78px;
}

/* Main */
.container img {
    width: 223px;
    height: 223px;
}