:root {
    /* Background colors */
    --main-bg-color: #000000;
    --secondary-bg-color: #595959;
    --tertiary-bg-color: #c1beb8;

    /* Font colors */
    --main-font-color: #ce4f20;
    --secondary-color: #ffffff;
}

/* Body */

/* CSS Properties */
body {
    background-color: var(--main-bg-color);
}

/* Estilo personalizado para el menú desplegable */
.navbar .dropdown-menu-right {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    transform: translateX(0);
}

.navbar .nav-item.dropdown:hover .dropdown-menu-right {
    display: block;
}
.navbar-dark .navbar-toggler-icon {
    width: 78px;
    height: 78px;
}

.navbar p.logo_title {
    margin-left: auto;
    margin-block: auto;
    font-family: "Sedgwick Ave Display", cursive;
    font-size: 50px;
    color: var(--main-bg-color);
}

.navbar--logo {
    width: 78px;
}

/* Navbar */
.nav-colored {
    background-color: var(--tertiary-bg-color) !important;
}

/* Main */
.container {
    color: var(--secondary-color);
}

.container .icons p {
    margin-top: 1rem !important;
}

.video-icon img {
    width: 120px;
    height: 100px;
}

.chef-icon img {
    width: 110px;
    height: 100px;
}
.tray-icon img {
    width: 150px;
    height: 100px;
}
