:root {
    /* Background colors */
    --main-bg-color: #000000;
    --secondary-bg-color: #595959;
    --tertiary-bg-color: #c1beb8;

    /* Font colors */
    --main-font-color: #ce4f20;
    --secondary-color: #ffffff;
}

/* Body */

/* CSS Properties */
body {
    background-color: var(--main-bg-color);
}

/* Estilo personalizado para el menú desplegable */
.navbar .dropdown-menu-right {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    transform: translateX(0);
}

.navbar .nav-item.dropdown:hover .dropdown-menu-right {
    display: block;
}
.navbar-dark .navbar-toggler-icon {
    width: 78px;
    height: 78px;
}

.navbar p.logo_title {
    margin-left: auto;
    margin-block: auto;
    font-family: "Sedgwick Ave Display", cursive;
    font-size: 50px;
    color: var(--main-bg-color);
}

.navbar--logo {
    width: 78px;
}

/* Navbar */
.nav-colored {
    background-color: var(--tertiary-bg-color) !important;
}

/* Main */
.container {
    color: var(--secondary-color);
}

.container .icons p {
    margin-top: 1rem !important;
}

.video-icon img {
    width: 120px;
    height: 100px;
}

.chef-icon img {
    width: 110px;
    height: 100px;
}
.tray-icon img {
    width: 150px;
    height: 100px;
}

.bloque-superpuesto {
    height: 45rem;
    opacity: 40%;
}

.texto-superpuesto {
    position: absolute;
    top: 95rem;
    background: rgba(0, 0, 0, 0.5);
}

.texto-superpuesto .play-button {
    border-radius: 20px 20px;
    padding: 0.1rem 1.2rem 0.1rem 1.2rem;
}

.texto-superpuesto .play-button img {
    width: 1rem;
}

.text-decorated {
    font-size: 1.5rem;
    color: var(--secondary-bg-color);
    filter: brightness(1.95);
}

/* Patrocinio */
.patrocinadores {
    text-align: center;
    margin-top: 50px;
}


.imagenes-patrocinadores {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imagenes-patrocinadores img {
    width: 100%;
    max-width: 150px; /* Ajusta el tamaño máximo de las imágenes según sea necesario */
    margin: 2rem;
    padding: 1rem, 1rem, 0, 0;
}

/* Footer */
footer .main-logo {
    width: 15rem;
}

.d-inline-flex li {
    display: inline-block;
    margin-right: 15px;
}

.flex-container {
    display: flex;
}

.flex-container .container {
    display: flex;
}

footer .social-links img {
    width: 3rem;
    height: 3rem;
}
